In [20]:
import pandas as pd
import numpy as np
import os
import glob
from tqdm.auto import tqdm
from pathlib import Path

In [21]:
dataset_names = ['new_college', 'city_centre']
dataset_name = dataset_names[1]
dataset_name

'city_centre'

In [22]:
cephshare = Path('~/cephshare').expanduser()
gt_file = f'{cephshare}/compsci/public/new_college/{dataset_name}/ImageCollectionCoordinates.txt'
gt_file, os.path.exists(gt_file)

('/home/saravanabalagi/cephshare/compsci/public/new_college/city_centre/ImageCollectionCoordinates.txt',
 True)

In [23]:
gt = pd.read_csv(gt_file, delim_whitespace=True, header=None, names=['img', 'x', 'y'])
gt

           img           x           y
0     0001.jpg  303.864302  -57.550852
1     0002.jpg  303.057736  -57.596078
2     0003.jpg  302.223256  -57.581016
3     0004.jpg  301.449563  -57.618403
4     0005.jpg  300.541200  -57.707595
...        ...         ...         ...
2469  2470.jpg  190.059861 -147.638236
2470  2471.jpg  189.469524 -147.432693
2471  2472.jpg  188.714516 -146.758052
2472  2473.jpg  188.045171 -146.442022
2473  2474.jpg  187.156005 -145.811933

[2474 rows x 3 columns]

In [24]:
gt_new = []
for i in tqdm(range(len(gt))):
    if i % 2 == 1: continue
    row = {}
    row['img'] = f'{os.path.splitext(gt.iloc[i].img)[0]}_{gt.iloc[i+1].img}'
    row['x'] = np.round(np.mean([gt.iloc[i].x, gt.iloc[i+1].x]), 6)
    row['y'] = np.round(np.mean([gt.iloc[i].y, gt.iloc[i+1].y]), 6)
    gt_new.append(row)

gt_new = pd.DataFrame(gt_new)
gt_new

  0%|          | 0/2474 [00:00<?, ?it/s]

                img           x           y
0     0001_0002.jpg  303.461019  -57.573465
1     0003_0004.jpg  301.836410  -57.599710
2     0005_0006.jpg  300.140829  -57.790520
3     0007_0008.jpg  298.733992  -58.184704
4     0009_0010.jpg  297.224668  -58.586052
...             ...         ...         ...
1232  2465_2466.jpg  192.366972 -150.259996
1233  2467_2468.jpg  191.312079 -149.241598
1234  2469_2470.jpg  190.239403 -148.007366
1235  2471_2472.jpg  189.092020 -147.095372
1236  2473_2474.jpg  187.600588 -146.126978

[1237 rows x 3 columns]

In [25]:
gt_new.to_csv(f'{dataset_name}/ImageCollectionCoordinates.txt', index=None, sep=' ', header=None)